body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid gray;
    text-align: center;
    font-size: 50pt;
}

.card {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 50px;
    border-radius: 30px;
}

ul li {
    font-size: 15pt;
    
}